.cardContent{
    min-width: 220px;
    height: 300px;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    
    padding: 15px;

    gap: 20px;

    border-radius: 5px;

    cursor: pointer;

    background-color: var(--grayLT);
    transition: 0.5s;
}

.cardContent:hover{
    background-color: rgb(53, 53, 53);
    transition: 0.5s;
}

.cardContentImg{
    width: 100%;
    height: 190px;

    position: relative;
}

.cardContent:hover .playButtonCard{
    opacity: 1;
    bottom: 10px;
    transition: 0.25s;
}

.playButtonCard{
    position: absolute;
    bottom: 0px;
    right: 10px;

    width: 36px;
    height: 36px;

    background-color: var(--green);

    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.26);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    font-weight: bolder;
    color: #fff;

    cursor: default;
    transition: 0.25s;
}

.playButtonCard:hover{
    transform: scale(1.1);
}

.cardContentImg img{
    width: 100%;
    height: 100%;

    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.137);

    border-radius: 15px;
}

.cardInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 25px;

    color: #fff;
}

@media screen and (max-width: 768px) {
    .cardContent{
        min-width: 128px;
        height: 200px;
        padding: 0;

        background-color: #2220;
    }

    .cardContentImg{
        height: 128px;
    }

    .cardInfo{
        font-size: 14px;
        line-height: 15px;
        color: #ececec;
    }

    .cardContent:hover{
        background-color: #2220;
    }
}