@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    background-color: var(--black);
}

#root{
    height: 100%;
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;

    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gray); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(102, 102, 102, 0.534); 
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }